.log_in_box {
  width: 330px;
  height: 340px;
  margin: 0px auto;
  margin-top: 300px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;

  .title {
    text-align: center;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
  }

  .log_in {
    margin-top: 30px;

    .id {
      width: 270px;
      margin: 0px auto;

      .id_input {
        width: 100%;
        padding: 9px 10px;
        border: 1px solid #dbdbdb;
        color: #9b9b9b;
        border-radius: 3px;
        box-sizing: border-box;
      }
    }

    .password {
      width: 270px;
      margin-top: 100px;
      margin: 0px auto;

      .password_input {
        width: 100%;
        padding: 9px 10px;
        margin-top: 10px;
        border: 1px solid #dbdbdb;
        color: #9b9b9b;
        border-radius: 3px;
        box-sizing: border-box;
      }
    }
  }

  p {
    text-align: center;
    margin-top: 70px;
    color: #4b6c91;
    font-size: 15px;
    font-weight: bold;
  }

  input:focus-visible {
    outline: #dbdbdb auto 1px;
    border-radius: 3px;
  }
}
