@charset "UTF-8";
@import '../../../styles/common.scss';
@import '../style/profile.scss';
@import '../style/variables.scss';

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-lightgray;

  /* 메인 */
  .we-main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 90px 0;

    .we-main {
      padding-right: $margin-value;

      .feed-box {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    /* aside */
    .position {
      position: relative;
      width: 293px;

      .aside-box {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 293px;

        .profiles-wrapper {
          .profiles.size {
            width: $img-profile-aside--width;
            height: $img-profile-aside--width;
            margin-right: $padding-value--7;
          }

          .profile-info {
            display: flex;
            flex-direction: column;

            .nickname {
              font-weight: bold;
            }

            .sentence {
              color: $color-gray;
            }
          }
        }

        /* 링크 */
        .etc-link {
          margin-bottom: $padding-value;

          .links {
            display: flex;
            flex-wrap: wrap;
          }

          .links a {
            font-size: $font-size--micro;
          }

          .links .links-item:after {
            content: '\00B7';
            margin: 0 0.25em 0 0.25em;
            color: $color-gray;
          }
        }

        /* 저작권 */
        .copyright {
          font-size: $font-size--micro;
          color: $color-gray;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .main-wrapper {
    .we-main-wrapper {
      .we-main {
        padding-right: 0;
      }

      .position {
        display: none;
      }
    }
  }
}
