.button_box {
  width: 270px;
  margin: 0px auto;

  button {
    width: 100%;
    padding: 7px 10px 4px 10px;
    margin-top: 10px;
    color: white;
    border: 0px;
    border-radius: 5px;
  }

  .sky_blue {
    background-color: #c5e1fc;
  }

  .blue {
    background-color: #0095f6;
  }
}
