@charset "UTF-8";
@import '../style/variables.scss';

html,
body {
  height: 100%;
  background-color: $color-lightgray;
}

a {
  text-decoration: none;
  color: $color-gray;

  &:visited {
    color: $color-gray;
  }

  &:focus {
    outline: none;
  }
}

button {
  background-color: transparent;
  cursor: pointer;
  border: 0;

  &:focus {
    outline: none;
  }
}

.westagram-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .weatagram__main {
    display: flex;
    justify-content: center;
    max-width: 893px;
    padding-bottom: calc($margin-value + 4em);

    .banner {
      flex: 0 0 40%;
      text-align: center;
      padding-right: $margin-value;

      img {
        height: $banner-height;
      }
    }

    .sign-and-login {
      flex: 0 0 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .sign-up-box {
        flex: 0 0 10%;
        margin-top: calc($margin-value / 2);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        border: 1px solid $color-gray2;

        .noaccount {
          font-size: $font-size--normal;
        }

        .signup-link {
          color: $color-blue;
          font-weight: bold;
          margin-left: $padding-value--7;

          &:active {
            color: $color-skyblue;
          }
        }
      }

      .download-box {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .description {
          font-size: $font-size--normal;
        }

        .badge {
          display: inline-block;
          margin-top: $margin-value;
        }
      }
    }
  }

  .westagram__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: $padding-value;
    font-size: $font-size--normal;

    .meta-link {
      display: flex;
      justify-content: space-evenly;

      a {
        margin-right: $padding-value;
        color: $color-gray;
      }
    }

    .lan-copyright {
      margin-top: $padding-value;

      .copyright {
        color: $color-gray;
      }
    }
  }
}
